{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>
                <a href="{% url 'product_detail_view' product.id %}">{{ product.product_name }}</a>
            </td>
            <td>{{ product.category }}</td>
            <td>₹{{ product.price }}</td>
            <td>{{ product.description }}</td>
        </tr>
        
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">No products available</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
s